# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# Logs
*.log
logs/
*.sqlite3

# Env files (برای امنیت)
.env
.env.local

# Git
.git/
.gitignore

# Docker files
Dockerfile
docker-compose.yml

# Node / React
node_modules/
build/
dist/
npm-debug.log*
yarn-error.log*

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
